# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld                   # https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
TRACK                         production              # https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
OS                            el9
USER                          afzal   # PUT YOUR USER NAME HERE !!!

# JOB RESOURCES
NCORES                        16
DISK                          50GB
RAM                           14GB
TIMELIMIT                     8hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       03
BATCH                         04
WORKFLOW                      bggen_rhomDelta_[RUNPERIOD]_ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       analysis-2017_01-ver56.xml
SCRIPTFILE                    /work/halld/home/afzal/scripts/bggen/script_container.sh
#RCDB_QUERY                    "@is_production and @status_approved"         # comment-out for all runs
JANA_CONFIG                   /work/halld/home/afzal/scripts/bggen/jana_pi0pippim_bggen.config

# FILE INPUT, OUTPUT BASE DIRECTORIES
#INDATA_TOPDIR     /cache/halld/gluex_simulations/REQUESTED_MC/2017_bggen_p4_20190609012010pm/hddm/
INDATA_TOPDIR     /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch04_ver03_31_20220331023833pm/hddm/

# FOR FULL RECON LAUNCHES
OUTDIR_LARGE      /volatile/halld/home/[USER]/bggen/RunPeriod-[RUNPERIOD]/ver[VERSION]             # REST, skims, hists, trees
OUTDIR_SMALL      /farm_out/[USER]/bggen/RunPeriod-[RUNPERIOD]/bggen/batch[BATCH]/                  # log files, IDXA