# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld
TRACK                         production
OS                            el9
USER			      ilbelov

# JOB RESOURCES
NCORES                        32
DISK                          50GB
RAM                           32GB
TIMELIMIT                     6hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       71
BATCH                         02
WORKFLOW                      DSelData_[RUNPERIOD]_ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       version.xml # latest release
SCRIPTFILE                    /work/halld/home/ilbelov/RunDSels/SendDSelsToIFARM/script.sh

# ROOT CONFIG
ROOT_SCRIPT                   /work/halld/home/ilbelov/RunDSels/SendDSelsToIFARM/Run_Selector.C
TREE_NAME                     pippippimpim__B4_Tree
SELECTOR_NAME                 /work/halld/home/ilbelov/RunDSels/DSelData_2pip2pim   #/path/to/your/DSelector      # Leave .C off of the end!

# FILE INPUT, OUTPUT BASE DIRECTORIES
#NDATA_TOPDIR     /mss/halld/RunPeriod-2018-01/analysis/ver20/tree_pippippimpim__B4/merged/
#NDATA_TOPDIR     /mss/halld/RunPeriod-2018-08/analysis/ver20/tree_pippippimpim__B4/merged/
INDATA_TOPDIR     /cache/halld/RunPeriod-2017-01/analysis/ver71/tree_pippippimpim__B4/merged
#INDATA_TOPDIR     /volatile/halld/home/afzal/test/fall18_rfbunchver03_bcal20ns_Alextrees/

# FILE OUTPUT
OUTDIR_LARGE      /volatile/halld/home/[USER]/Data_2pip2pim/trees/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/        # tree, hist
OUTDIR_SMALL      /volatile/halld/home/[USER]/Data_2pip2pim/log/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/
